.block
  .secondary-navigation
    %ul.wat-cf
      %li.first=link_to pat(:list), url(:characters, :index)
      %li.active=link_to pat(:new), url(:characters, :new)
  .content
    %h2.title
      =pat(:new)
      =mt(:character)
    .inner
      -form_for :character, url(:characters, :create), :class => :form do |f|
        =partial "characters/form", :locals => { :f => f }

-content_for :sidebar, partial("base/sidebar")
