<form action="/characters/new" method="POST">
	<select name="character_type">
		<option value="solar">Solar Exalt</option>
		<option value="solar-first">First-Age Solar Exalt</option>
		<option value="dragonblood">Dragon-blooded</option>
		<option value="lunar">Lunar Exalt</option>
	</select>
	<input type="submit" class="btn btn-primary" value="Start" />
</form>